/* General Styles _____________________________________________________________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: #202020;
}

.container {
  background: linear-gradient(to right top, #7d3dbc, #5a39bc);
  color: #fff;
  padding: 2rem;
  max-width: 37.5rem;
  margin: 4rem auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* SearchBar Styles_____________________________________________________________________________ */
.weather_search {
  display: flex;
  background: rgba(40, 40, 40, 0.4);
  border-radius: 60px;
  padding: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.weather_search input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 250px;
  font-size: 1rem;
}

.weather_search input::placeholder {
  color: #fff;
}

.weather_search button {
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.weather_search button:hover {
  cursor: pointer;
  background: rgba(40, 40, 40, 0.1);
}

.weather_search i {
  color: #fff;
  width: 20px;
}

/* CurrentWeather Styles____________________________________________________________________ */
.current-weather {
  text-align: center;
  margin-bottom: 20px;
}

.current-weather h1 {
  margin-bottom: 10px;
}

.current-weather p {
  margin-bottom: 5px;
  font-size: 18px;
}

/* WeatherDetails Styles_____________________________________________________________________ */
.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 20px;
}

.weather-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(40, 40, 40, 0.4);
  padding: 0.9rem;
  border-radius: 10px;
}

.weather-card i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.weather-card p {
  font-size: 0.875rem;
}

/* Forecast Styles___________________________________________________________________________ */
.forecast-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  text-align: center;
}

.forecast-day {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.forecast-day img {
  width: 50px;
  margin-bottom: 5px;
}

.forecast-day p {
  margin: 5px 0;
  font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .forecast-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .weather-details {
    grid-template-columns: 1fr;
  }
}
